export PATH="$HOME/.local/bin${PATH:+":${PATH}"}"

export EDITOR=hx
export VISUAL="$EDITOR"

export PAGER=less
# https://github.com/twpayne/chezmoi/issues/1332#issuecomment-927367673
export LESS=-RFX

# I'd rather not connect to Google's servers if I can avoid it.
export GOPROXY=direct
export GOTOOLCHAIN=local

export SSH_ASKPASS=/usr/bin/ksshaskpass
export SSH_ASKPASS_REQUIRE=prefer

# Bad attempt at Gruvbox theme for haredoc
export HAREDOC_COLORS='comment=3;38;2;146;131;116 keyword=38;2;251;73;52 operator=38;2;211;134;155 type=38;2;250;189;47 number=38;2;211;134;155'

{{ if eq .chezmoi.os "darwin" }}
export HOMEBREW_AUTOREMOVE=1
export HOMEBREW_NO_ANALYTICS=1
{{ end }}
